<!-- our-services.component.html -->
<bw-section section_name="our_services_section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="h1 mb-4">
          Nossos Serviços
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-12 mw-100">
            <bw-cards [list]="services">
              <ng-template let-item="item">
                <bw-card-service [item]="item"></bw-card-service>
              </ng-template>
            </bw-cards>
          </div>
        </div>
      </div>
    </div>
  </div>
</bw-section>
