.btn {
    border-radius: 20px;
    background: linear-gradient(157deg, var(--bw-color-blue-700) -12%, var(--bw-color-blue-300) 109%);
    border: none;
    padding: 10px 25px 10px 25px;
    display: flex;
    justify-content: center;
    font-family: var(--bw-font-family-primary)!important;
    .btn-text {
        font-weight: 600;
    }
}