<bw-section section_name="testimonials_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="h1 mb-4">
                    O que nossos clientes falam sobre nós?
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-12 mw-100">
                    <bw-cards [list]="testimonials">
                      <ng-template let-item="item">
                        <bw-card-testimonials [item]="item"></bw-card-testimonials>
                      </ng-template>
                    </bw-cards>
                  </div>
            </div>
        </div>
   <div class="row">
            <div class="col-md-12">
                <div class="h1 mb-4">
                    O que nossos clientes falam sobre nós?
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-12 mw-100">
                    <bw-cards [list]="testimonials">
                      <ng-template let-item="item">
                        <bw-card-testimonials [item]="item"></bw-card-testimonials>
                      </ng-template>
                    </bw-cards>
                  </div>
            </div>
        </div>
    </div>
</bw-section>