<div class="toast fade show  position-fixed z-3 bottom-0 end-0 p-3 m-3 	d-none d-lg-block d-xl-block" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <ng-icon name="bootstrapWhatsapp" class="whatsapp-icon" size="23px"></ng-icon> <strong class="me-auto">Whatsapp</strong>
      <small>1 min atrás</small>
      <button type="button" class="btn"> <ng-icon class="close-icon" name="matClose" size="23px" data-bs-dismiss="toast" aria-label="Close"></ng-icon> </button>
    </div>
    <div class="toast-body">
      Hello, world! This is a toast message.
    </div>
  </div>