.toast{
    animation: Slide_Up 2.4s ease;
    background-color: var(--bw-color-dark-blue-900);
    border: 1px solid var(-bw-color-dark-blue-800);
    .toast-header{
    
        background-color: var(--bw-color-dark-blue-900);
        color: var(--bw-color-dark-blue-100);
        .whatsapp-icon{
            color: var(--bw-color-green-quaternary);
            margin: 5px;
        }
        .btn{
            .close-icon{
                color: var(--bw-color-dark-blue-100);
            }
        }
    }
    .toast-body{
        color: var(--bw-color-dark-blue-400);
    }
}
@keyframes Slide_Up {
    0% {
        transform: translateY(250px);
    }

    100% {
        transform: translateY(0);
    }
}