.toast{
    animation: Slide_Up 2.4s ease;
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    .toast-header{
    
        background-color: var(--bg-color);
        color: var(--h1-color);
        .whatsapp-icon{
            color: var(--bw-color-green-quaternary);
            margin: 5px;
        }
        .btn{
            .close-icon{
                color: var(--h1-color);
            }
        }
    }
    .toast-body{
        color: var(--p-color);
    }
}
@keyframes Slide_Up {
    0% {
        transform: translateY(250px);
    }

    100% {
        transform: translateY(0);
    }
}