<bw-wrapper>
        <!--<bw-toast></bw-toast>-->
        <div class="row">
                <div class="col-12">
                        <bw-marketing-conversation></bw-marketing-conversation>
                </div>
        </div>

        <div class="toasts">
                <bw-whatsapp-toast></bw-whatsapp-toast>
                <bw-goto-up-toast></bw-goto-up-toast>

        </div>

        <!-- <bw-examples></bw-examples>
        <bw-demo></bw-demo>
        <bw-tools></bw-tools>
        <bw-plans></bw-plans>
        <bw-faq></bw-faq> -->
        <div class="row">
                <div class="col-12">
                        <bw-projects></bw-projects>
                </div>
        </div>
        <div class="row">
                <div class="col-12">
                        <bw-our-services-testimonials></bw-our-services-testimonials>
                </div>
        </div>

        <div class="row">
                <div class="col-12">
                        <bw-contact></bw-contact>
                </div>
        </div>


</bw-wrapper>