.card {
    font-family: var(--bw-font-family-primary);
    font-weight: 700;
    border-radius: 8px;
    transition: all 0.7s;
    min-height: 2rem;
    background: var(--bw-color-blue-900);
    color: var(--bw-color-dark-blue-400);
    &:hover {
        backdrop-filter: blur(6px);
        background: linear-gradient(60deg, rgba(35, 38, 41, 0.9) 0%, rgba(64, 64, 64, .09) 100%);

    }
    .card-header {
        .card-icon {
            color: var(--bw-color-cyan-50);
        }
    }
    .card-body {
        .card-title {
            font-size: calc(var(--bw-font-size-base) + 0.1rem);
            font-weight: 900;
            color: var(--bw-color-white-100);
            transition: color 0.6s;
        }
        .card-subtitle {
            font-size: calc(var(--bw-font-size-base) - 0.1rem);
            font-weight: 500;
        }
    }
}