.carousel-container {
  position: relative;
  width: 100%;  
  overflow: hidden;
  margin: 0 auto;
}
.carousel--item{
  width: 100%;
  height: 100%;  // Garante que o item ocupe toda a altura do container
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;  // Para centralizar o conteúdo dentro do card

}
.carousel {
  display: flex;
}
.dot {
  width: 5px;
  height: 5px;
  border-radius: 50px;
  background-color: var(--bw-color-black-400);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;  

  &.active {
    background-color: var(--bw-color-black-50);
    transform: scale(1.2);
  }

  &:hover {
    background-color: #555;
    transform: scale(1.2);
  }
}
