
$black-palette: (
  50:#ebebed,
  100:#fafcff,
  200:#EFEFF1,
  300:#FEFEFE,
  400:#868C94,
  500:#6b6b79,
  600:#2B3238,
  700:#232125,
  800:#151417,
  900:#0f0f11,
  contrast:(50:#2f2f30,
    100:#474748,
    200:#5f5f60,
    300:#777778,
    400:#8f8f90,
    500:#6b6b79,
    600:#a7a7a8,
    700:#bfbfc0,
    800:#d7d7d8,
    900:#EFEFF1,
  )
);
$blue-palette: (
  50:#E3F2FD,
  100:#BBDEFB,
  200:#90CAF9,
  300:#64b0fc,
  400:#42A5F5,
  500:#2196F3,
  600:#1E88E5,
  700:#198afa,
  800:#1565C0,
  900:#0f1e2e,
  contrast:(
    50:#2f2f30,
    100:#474748,
    200:#5f5f60,
    300:#777778,
    400:#8f8f90,
    500:#6b6b79,
    600:#a7a7a8,
    700:#bfbfc0,
    800:#d7d7d8,
    900:#EFEFF1,
  ),
  
  
);

$dark-blue-palette: (
  50: #ffffff,
  100: #e2e8f0,
  200: #C4D0EC,
  300: #94a3b8,
  400: #64748B,
  500: #657086,
  600: #495670,
  700: #323644,
  800: #0d1d31,
  900: #0c0d13,
  contrast: (
    50: #2e2e2f,
    100: #464647,
    200: #5e5e5f,
    300: #767678,
    400: #8e8e90,
    500: #a6a6a8,
    600: #bebebf,
    700: #d6d6d8,
    800: #eeeeef,
    900: #ffffff,
  )
);
$cyan-palette: (
  50: #06b6d4,
  100: #05a3be,
  200: #0491a9,
  300: #047f94,
  400: #036d7f,
  500: #035b6a,
  600: #024854,
  700: #01363f,
  800: #01242a,
  900: #0498b359,
  1000: #07607059,
  contrast: (
    50: #ffffff,
    100: #e8f5f7,
    200: #cceaf1,
    300: #b0e0eb,
    400: #94d5e4,
    500: #78cbde,
    600: #5cbfd8,
    700: #40b4d2,
    800: #24a9cc,
    900: #089ec5,
  )
);
