
$black-palette: (
  50:#ebebed,
  100:#fafcff,
  200:#EFEFF1,
  300:#FEFEFE,
  400:#a39fa9,
  500:#6b6b79,
  600:#2B3238,
  700:#232125,
  800:#151417,
  900:#0f0f11,
  contrast:(50:#2f2f30,
    100:#474748,
    200:#5f5f60,
    300:#777778,
    400:#8f8f90,
    500:#6b6b79,
    600:#a7a7a8,
    700:#bfbfc0,
    800:#d7d7d8,
    900:#EFEFF1,
  )
);
$blue-palette: (
  50:#E3F2FD,
  100:#BBDEFB,
  200:#90CAF9,
  300:#64b0fc,
  400:#42A5F5,
  500:#2196F3,
  600:#1E88E5,
  700:#198afa,
  800:#1565C0,
  900:#0D47A1,
  contrast:(
    50:#2f2f30,
    100:#474748,
    200:#5f5f60,
    300:#777778,
    400:#8f8f90,
    500:#6b6b79,
    600:#a7a7a8,
    700:#bfbfc0,
    800:#d7d7d8,
    900:#EFEFF1,
  ),
  
  
);
