
<div class="card border-0">
    <div class="card-header border-0 testimonial-card-item __item_icon pt-2 text-center">
        <div class="card-quote position-relative float-start"> <ng-icon class="quote-icon" name="bootstrapQuote" size="3rem"></ng-icon></div>

    </div>
    <div class="card-body p-4 pt-0">
        <div class="card-title __item_title pt-2">
            {{testimonial.title}}
        </div>
        <div class="card-subtitle __item_subtitle pt-1" id="testimonial_description">
             " {{testimonial.subtitle}} "
        </div>
        <div class="card-footer border-0">
               - {{testimonial.client_name}}
        </div>
    </div>
</div>