<bw-section section_name="demo_section">
    <div class="row">
        <div class="col-12">
            <div class="demo-title-youtube">
                Assista Uma <span class="demo-title-emphasis"> Demonstração:</span>
            </div>
            <div class="demo-subtitle-youtube">
                Em Menos De 10 Minutos, Você Consegue Criar O Que Levaria Um Time de Programação Semanas Para Fazer...
            </div>
        </div>
        <div class="col-12">
            <div class="youtube-video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/war37uaynus?si=1zJp2HTrrljhA0R4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>


        <div class="col-12">
            <div class="demo-title">
                Conecte seu WhatsApp com o sistema que você quiser e vice versa.
            </div>
        </div>


    </div>
</bw-section>