<footer class="footer text-center text-lg-start">
    <section class="d-flex justify-content-center justify-content-lg-between p-4">
        <div>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-instagram"><a href="https://www.instagram.com/byteswork/" target="_blank"></a></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
    </section>
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
               
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Contato</h6>
                    <p>
                        <i class="fas fa-envelope me-3">byteswork&#64;gmail.com</i>
                    </p>
                    <p><i class="fas fa-phone me-3"></i>71985554600</p>
                </div>
            </div>
        </div>
    </section>

    <div class="text-center p-4">
        © 2024 Copyright:
    </div>
</footer>