
<div class="accordion accordion-flush" [id]="'accordionQuest-' + question.id">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                [attr.data-bs-target]="'#collapseQuestion-' + question.id" aria-expanded="true"
                [attr.aria-controls]="'collapseQuestion-' + question.id">
                {{question.title}}
            </button>
        </h2>
        <div [id]="'collapseQuestion-' + question.id " class="accordion-collapse collapse" >
            <div class="accordion-body">
                {{question.question}} </div>
        </div>
    </div>
    


</div>