.accordion {
    max-width: 850px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .accordion-item {
        width: 100%;
        border-bottom: 1px solid var(--bw-color-gray-quaternary);
        background: var(--accordion-bgcolor);
        .accordion-header {
            width: 100%;
            height: 75px;

            border: none;
    
            align-items: center;
            .accordion-button{
                background: var(--accordion-bgcolor);
                color: var(--h1-color);
                font-weight: 500;
                font-size: calc(var(--bw-font-size-base));
                text-align: start;
                letter-spacing: calc(var(--bw-font-letter-spacing));
                font-family: var(--bw-font-family-primary);
                padding-bottom: 40px;
                &:not(.collapsed) {
                    background: transparent;
                    box-shadow: none;
                }
                &:focus{
                    box-shadow: none;
                }
            
        }

        }
        .accordion-collapse{
    
            .accordion-body{
            
            }
        }
        .accordion-body{
            color: var(--p-color);
        }
    }
}