<bw-section section_name="tools_section">
    <div class="row d-flex flex-row align-content-center flex-wrap">
     <div class="col-12">
        <h1 class="tools-title">
            BotConversa Te Dá As Ferramentas E Estratégias Que Você Precisa Em Um Único Lugar!
          </h1>
    
     </div>
     <div class="col-5">
        <div class="row d-flex flex-row ">
            <div class="tools-subtitle">
                SIM! O BotConversa Te Dá As Ferramentas e Estratégias Que Você Precisa Para Captar Clientes Potenciais e Aumentar Suas Vendas. De Forma Automática!
    
            </div> 
            <!-- 
                          <div class="tools_advantages">

              
            <li *ngFor="let item of tools_advantages">
                <ng-icon class="icon"  name="heroChevronRightMini" size="23px"></ng-icon>
                 {{item.advantage}}</li>
            </div>
            -->
      
    
        </div>
      
     </div>
     <div class="col-7">
        img
     </div>
     
      

    </div>
</bw-section>
