html {

    &.dark-mode {

        --h1-color: var(--bw-color-dark-blue-100);
        --nav-item-color: var(--bw-color-dark-blue-100);
        --p-color: var(--bw-color-dark-blue-400);
        --li-color: var(--bw-color-gray-400);
        --v-pills-active: var(--bw-color-black-800);
        --nav-bg-color: var(--bw-color-black-transparent);
        --accordion-bgcolor: var(--bw-bgcolor-dark-mode);
        --icon-mode-toogle: var(--bw-color-cyan-50);
        --border-color: var(--bw-color-dark-blue-800);
        --bg-input-color:var(--bw-color-dark-blue-700);
        --scroll-barhover: var(--bw-color-white-200);
        --scroll-bar: var(--bw-color-dark-blue-600);
        --bg-color: var(--bw-color-dark-blue-900);
        --box-shadow-color: var(--bw-color-black-hsla-primary);
    }

    &.light-mode {
        --nav-item-color: var(--bw-color-gray-600);
        --h1-color: var(--bw-color-gray-600);
        --nav-bg-color: var(--bw-color-white-transparent);
        --p-color: var(--bw-color-black-800);
        --li-color: var(--bw-color-gray-600);
        --v-pills-active: var(--bw-color-blue-50);
        --accordion-bgcolor: transparent;
        --icon-mode-toogle: var(--bw-color-gray-600);
        --border-color: var(--bw-color-black-100);
        --icon-mode-toogle-hover: var(--bw-color-gray-600);
        --nav-item-color-hover: var(--bw-color-black-900);
        --scroll-bar: var(--bw-color-gray-400);
        --bg-input-color:var(--bw-color-blue-50)
        background-color: var(--bw-color-white-100);
        --bg-color: var(--bw-color-white-100);
        --box-shadow-color: var(--bw-color-blue-hsla-primary);
        --bg-hover:var();

    }

}